/* NAV BAR */
.nav-color {
  color: white;
  background-color: #880E4F;
}
.title {
  color: white;
  text-align: center;
}

#home-button{
  background-color: transparent;
  border: none;
  font-size: 27px;
  position: absolute;
  top: -6px;
  bottom: -5px;
  right: -6px;
  color: white;
}


/*  MAIN */
.ion-ionic {
  font-size: 20px;
}
.button-container {
  width: 100%;
}
.container-main {
  width: 100%;
}
#new-note-button {
  background-color: white;
  font-size: 40px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: auto;
  color: #880E4F;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
}
#background-image {
  width: 100%;
  background-image: url('../img/backgroundimage.jpeg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 58% 0;
}

/* NOTE LIST */
.delete-button {
  float: right;
  font-size: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #880E4F;
  color: white;
  font-weight: 700;
  padding: 0;
}
.note-item:nth-child(odd){
  background-color: #D6D6D6;
}
.notetitle-container {
  margin-top: 10px;
}
.notetitle-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* NOTE */
#title {
  padding: 15px 20px 0 20px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  resize: none;
  line-height: 1em;
  width: 100%;
}
#content {
  width: 100%;
  min-height: 250px;
  resize: none;
  padding: 10px 20px 0 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}
.saveButton {
  background-color: #880E4F;
  font-size: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  position: fixed;
  bottom: -200px;

}
.saveButton a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}
